/* Reset del CSS x il body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

/* Stile dell'header */
header {
    background: #333;
    color: #f9f9f9;
    padding: 10px 0;
    text-align: center;
}

/* Stile del menu di navigazione (navbar) */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #f9f9f9;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffdd57;
}

/* Stile del contenuto principale */
main {
    flex: 1;
}

section,
.carousel-slide img{
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
 section.info {
     text-align: center;
     width: fit-content;
     max-width: 80%;
     display: grid;
     grid-template-columns: 1fr 2fr;
 }

/* Imposto grandezza immagini su compra biglietti */
.tiny {
    align-content: center;
    width:200px;
    height:200px;
    border-radius: 8px;
}

.big {
    align-content: center;
    max-width:100%;
    border-radius: 3px;
}

p.tot {
    padding-left: 2px;
    border-left: 6px solid #ffdd57;
}

 section.info1 {
     text-align: center;
     width: fit-content;
     max-width: 80%;
 }

 div.info1 {
     padding-left: 2px;
     padding-bottom: 5px;
     border-bottom: 3px double #cccccc;
 }

section.info2 {
    text-align: center;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
}

.col1, .col2 {
    flex: 1;
    padding: 20px;
    align-content: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    width: 50px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    background-color: #f9f9f9;
}

input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

input[type="text"], input[type="email"] {
    width: 150px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    background-color: #f9f9f9;
}

input[type="text"].cart{
    width: 157px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    background-color: #f9f9f9;
}

textarea {
    width: 200px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    background-color: #f9f9f9;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:hover {
    border-color: #007bff;
    outline: none;
}
 

.carousel-slide img {
    max-height: 600px;
    /*margin: auto;*/
    width: auto;
    display: flex;
    justify-content: center;
}

h2 {
    color: #ffdd57;
}

p, a {
    font-size: 17px;
}

#account {
    justify-content: center;
}

/* Stile dei pulsanti */
button {
    background-color: #ffdd57;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

button.cart {
    background-color: #034efd;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #ccbc4d;
}

button.cart:hover {
    background-color: #023bca;
}

.card {
    padding: 25px;
    align-content: center;
}

/* Stile del footer */
footer {
    background: #333;
    color: #f9f9f9;
    padding: 20px 10px;
    /*noinspection CssInvalidPropertyValue*/
    width: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contenuto del footer */
footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}

footer div {
    flex: 1;
    margin: 0 10px;
}

footer .footer-content h3,
footer .footer-content p {
    color: #ffdd57;
    margin-bottom: 10px;
    text-align: left;
}

footer .footer-content form,
footer .footer-content div {
    text-align: left;
}

footer .footer-content input[type="email"],
footer .footer-content button,
footer .footer-content p {
    margin: 5px 0;
}

footer .footer-content input[type="email"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

footer .footer-content button {
    background-color: #ffdd57;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

footer .footer-content button:hover {
    background-color: #ccbc4d;
}

/* Testo di copyright */
footer p.copy {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

/* Scrollbar */

/* Stile della scrollbar personalizzata per il corpo del documento */
body::-webkit-scrollbar {
    width: 10px; /* Larghezza della scrollbar */
}
/*
body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); Colore di sfondo della traccia
}
*/

body::-webkit-scrollbar-track {
    /*noinspection CssUnresolvedCustomProperty*/
    background: var(--scrollbar-background-color); /* Colore di sfondo della traccia */
}

body::-webkit-scrollbar-thumb {
    background: #888; /* Colore della scrollbar */
    border-radius: 5px; /* Arrotondamento degli angoli */
}

body::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cambia colore al passaggio del mouse */
}

/* Media Queries */
@media (max-width: 768px) {
    footer .footer-content {
        flex-direction: column;
        align-items: center;
    }

    footer div {
        margin: 10px 0;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    section {
        width: 95%;
        padding: 15px;
    }

    button {
        padding: 8px 16px;
    }

    .tiny {
        align-content: center;
        width:150px;
        height:150px;
        border-radius: 8px;
    }

}

@media (max-width: 480px) {
    footer .footer-content h3,
    footer .footer-content p {
        text-align: center;
    }

    header h1 {
        font-size: 20px;
    }

    nav ul li a {
        padding: 5px 8px;
        font-size: 14px;
    }

    section {
        padding: 10px;
    }

    h2 {
        font-size: 18px;
    }

    button {
        font-size: 14px;
    }

    .tiny {
        align-content: center;
        width:70px;
        height:70px;
        border-radius: 8px;
    }

    button a {
        color: inherit; /* Eredita il colore del testo dal genitore, ovvero il bottone */
        text-decoration: none; /* Rimuove la sottolineatura */
        display: block; /* Fa sì che il link occupi tutto lo spazio del bottone, rendendo l'intera area cliccabile */
    }
    

}